.main-container{
    width:100%;    
    
}

.book-container{
    width:89%; 
    display:block;
    margin: 0 auto;  
    
}

.form-section-container,
.label-flex-container
{
    display: flex;
    width:inherit; 
    
}
.section-container{    
    margin: 0 auto;
}


.section-left{
    width:60%;
    /* margin-left: 7rem; */
}

.section-right{
    width:40%;
    margin-left: 2rem;
}

.section-left,
/* .section-right, */
.right-top,
.right-bottom{
    border: 1px solid black;
    padding: 1rem 1rem;
    margin:3rem 0;
    background-color:inherit;
    box-shadow: .1rem .1rem #888888;
    /* background-color:black */
}

.booking-summary-container{
    position:sticky;
    top:0.2rem;
}
.right-box{
    border: 1px solid black;
    border-bottom:.2px solid lightgray;
    padding: 1rem 1rem;
    background-color:inherit;
    box-shadow: .1rem .1rem #888888;
    /* position:fixed; */
    
}

.right-bottom{
    /* background-color:red; */
    border-top-left-radius:.8rem;
    border-top-right-radius:.8rem;
}

.right-bottom-top{
    border-bottom:1px solid lightgray;
    text-align:center;
    font-size:1.4rem;
    font-weight:bolder;
    height:2rem;
    line-height:1.2rem;
}



.form-container{
    width:100%;
    padding:1rem 0;
}


.form-container fieldset{
    padding:1rem;
}

.form-container fieldset {
    border:.1rem lightgray solid;
    /* width:100%; */
    
}

.label-flex-container{
    align-items:center;
}


.label-flex-container input{
    width: 2rem;
    text-align:center;
    border:none;
    background-color:inherit;
    /* margin-right: 1rem; */
}

.label-flex-container button{
    font-weight:bold;
    height:.7rem;
    border: none;
    background-color:var(--bg-color-highlight);
    /* margin-right: .4rem; */
    /* font-size:1.1rem; */
    display:block
}

.label-flex-container .btn2{
    rotate: 180deg;
    
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
  background-color:red
}
input{
    padding-left:.3rem;
    margin-left: .5rem;
}
input[type=number] { 
    /* -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;  */
    width:3rem;
}

.frequency-wrapper > label {    
    background-color:blue;
    margin-right:6rem;
}

/*   from w3 school  https://www.w3schools.com/howto/howto_css_switch.asp*/





.totalSummary
, .booking-detail{
    border-top:1px solid lightgray;
    padding: 1rem ; 
}

.totalSummary{
    display: flex;
    justify-content:space-between;
    align-items:center;
    /* font-size:1.2rem; */
    font-weight:bolder;
}

.totalSummary .quoteRight{
    font-size:1.5rem;
    
}
