
form{
    background-color:inherit;
    width:100%;     
   
}

fieldset,
.fieldset-container{
    padding:0 1rem;
    outline:none;
    border-bottom: .1rem solid lightgray;
    margin:2rem 0;

}



/* .dateTimeContainer, */
.first-row,
.second-row,
.third-row,
.flexContainer
{
    display:flex;
    justify-content:space-between;
    padding:.8rem 0;
    align-items:center;

    
}



.second-row .box4,
.second-row .box5{
    /* background-color:green; */
    width:48%;
    
}

.legend{
    font-weight:bold;
    font-size:1.3rem;
    /* margin-bottom:.8rem; */
}

select,
input{
    height:1.6rem;
    margin:0;
    width:100%;
    background-color:inherit;
    border:none;
    border-bottom: .1rem solid lightgray;

}



.flex-element{
    width:48%
}
.dateContainer{
    margin-right: 1rem;
}
select,
input[type='date']{
    width:100%;
}

.radio-container input[type='radio']{
   display: none;
}

.radio-container label{
  display: inline-block;
  /* background-color: white; */
  /* padding: 4px 11px; */
  /* font-family: Arial; */
  padding:1rem;
  font-size: 1.1rem;
  cursor: pointer;
  border: 1px solid lightgray
}

.radio-container input[type="radio"]:checked+label {
  background-color: red;
  font-weight:bold;
}




.checkedContainer{
    display:flex;
    align-items:center;
}

.elementLeft, .elementRight{
    width:50%;
}

.leftContainer{
    display: flex;
    align-items:center;
    width:100%
}

.leftContainer label{
    width:100%
}

.quato{
    margin-top: 3rem;
}

.firstRow,
.secondRow,
.table_header,
.table_raw{
    display: flex;
    justify-content: space-between;
    /* align-items:baseline; */
    /* background-color:red; */
    margin-bottom: auto;
}

.firstRow > .firstRowRight{
    margin-top: auto;

}


.firstRowLeft img{
    width:8rem;
}
/* .line{
    border-bottom: .1rem solid black;
    margin-top: 2rem;
} */

.nameContainer,
.cityStateContainer
{
    display:flex
}

.secondRow{
    margin-top:1rem;
}

.secondRow p{
    margin-right: .2rem;
    margin-bottom: .2rem;
}

.quote-body h1{
    font-size: 1.4rem;
    text-align:center;
    font-weight:bolder;
    margin: 2rem 0;
}

.table_header,
.table_raw{
    width:80%;
    margin:auto;
    padding:.5rem 0;
    border-bottom: 1px solid black;
}