
form{
    background-color:inherit;
    width:100%;     
   
}

fieldset,
.fieldset-container{
    padding:0 1rem;
    outline:none;
    border-bottom: .1rem solid lightgray;
    margin:2rem 0;

}



/* .dateTimeContainer, */
.first-row,
.second-row,
.third-row,
.flexContainer
{
    display:flex;
    justify-content:space-between;
    padding:.8rem 0;
    align-items:center;

    
}



.second-row .box4,
.second-row .box5{
    /* background-color:green; */
    width:48%;
    
}

.legend{
    font-weight:bold;
    font-size:1.3rem;
    /* margin-bottom:.8rem; */
}

select,
input{
    height:1.6rem;
    margin:0;
    width:100%;
    background-color:inherit;
    border:none;
    border-bottom: .1rem solid lightgray;

}



.flex-element{
    width:48%
}
.dateContainer{
    margin-right: 1rem;
}
select,
input[type='date']{
    width:100%;
}

.radio-container input[type='radio']{
   display: none;
}

.radio-container label{
  display: inline-block;
  /* background-color: white; */
  /* padding: 4px 11px; */
  /* font-family: Arial; */
  padding:1rem;
  font-size: 1.1rem;
  cursor: pointer;
  border: 1px solid lightgray
}

.radio-container input[type="radio"]:checked+label {
  background-color: red;
  font-weight:bold;
}
