
.faq-container{
     width:90%;
    /* max-width:50rem; */
    margin: 1rem auto;
    /* background-color:yellow; */
}


.faq-title-container{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between; 
    gap: 1rem;
    max-width:60rem;
    /* max-width:80%; */
    background-color:inherit;
    width:90%;
    margin: 0 auto;
    /* background-color:blue; */
    
     
}


.faqCategory{
    display:flex;
    flex-direction:column;
    justify-content:space-between;    
    font-size:1.2rem;
    padding:1em;
    /* width:28%; */
    width:15rem;
    height:16rem;
    border: .05rem solid black;   
    cursor:pointer;
     box-shadow: .3rem .3rem lightgray;
     
}

.faqCategory h1{
    color: black;
}

.faqCategory p{
    font-size: 1rem;
    /* margin:1rem 0; */
}

.highlightWord:hover{
    /* text-decoration: underline; */
    font-weight:bold;
    /* font-size:1.3rem; */
}

.title-question{
    
    font-weight:bold;
    /* color: gold; */
    margin-bottom: .3rem;
}

.faq-answer{
     margin-bottom: 1.1rem;
     /* padding-left: 1rem; */
}

.faq-hide{
    display:none;
}


.flex{
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:1.2rem 0
}

.returnToFaq{
    font-weight:bold;
    cursor:pointer;
}

.returnToFaq:hover{
    text-decoration:underline;
    text-shadow: #FC0 1px 0 10px;
}
.emphasis-title{
    font-weight:bold;
    font-size: 1.5rem;
}