.footer{
    
    background-color: red;
    position: absolute;
    bottom: 0;
    width: 100%;

    
}

.footer-row{
    display: flex;    
    width: inherit;
    justify-content: space-between;
    width: 60%;
    padding: 1rem 1rem;
    background-color: yellow;
    margin:0 auto;
}



.class-flex{
    display:flex;
    
}

.footer-sublist li{
    margin-top:.4rem;
    margin-right:.5rem;
}

.footer-sublist{
    margin-top:.7rem
}

.main-list{
    text-transform: uppercase;
    font-size:1.1rem;
    font-weight: bold;    
}

.sublist-li{
    text-transform: capitalize;
    font-size:.9rem;
    font-weight: normal;
    
}