/* .nav-container{
    background-color: #1e3d53;
    height: 10vh;
    display:flex;    
    align-items:center;
    font-size: 1.3rem
} */

.nav-container{    
    width:100vw;    
    height: 10vh;    
    font-size:1.3rem;    
}

.nav-container,
.header{
    display:flex;
    justify-content: right;
    align-items:center;   
    font-size:1.3rem; 
    /* background-color: #1e3d53; */
    background-color:var(--bg-color-navbar);
    
}
.nav-right{
    width:70%;
    padding-right:7rem
}
.nav-left{
    width:30%;    
    padding-left:7rem
}

.header a{
    list-style-type: none;
    text-decoration: none;
    color:white;   
    margin-left:1rem 
}

.header li .active {
    color:var(--bg-color-highlight);
}

.nav-left img{
    width:8rem;
}

.phone{
    /* background-color: #ff6e40; */
    background-color:var(--bg-color-highlight);
    border-radius:2rem;
    width:10rem;
    text-align:center;
    margin-left:1rem;
    height:2rem;
    line-height:2rem;
    padding-right:1rem
}



